<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div text-center>
        <img src="img/HIT.png">
    </div>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="doLog(loginForm.value)">
        <ion-list padding>

            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            
        </ion-list>
        <div padding>
            <button [disabled]="!loginForm.valid" ion-button outline block color="light">Submit</button>
        </div>
    </form>
    <ion-item>
        <ion-label stacked>Remember me</ion-label>
        <ion-checkbox [(ngModel)]="remember"></ion-checkbox>
    </ion-item>
    <div class="overlay"></div>
</ion-content>
<ion-footer>

</ion-footer>