page-addpackage {
    ion-list[radio-group] {
        margin-bottom: 0px;
        .opt {
            font-size: 13px;
        }
    }
    ion-select {
        ion-option {
            color: red !important;
        }
    }
    ion-footer {
        button {
            border-radius: 0px !important;
            margin: 0px !important;
        }
    }
}