<!--
  Generated template for the AddpackagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-title>Add Package</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <form [formGroup]="addPackForm" (ngSubmit)="addPack(addPackForm.value)">
        <ion-list>
            <ion-list radio-group>
                <ion-list-header>
                    <span ion-text color="Grey"> Branches</span>
                </ion-list-header>
                <ion-select multiple formControlName="branches">
                    <ion-option *ngFor="let branch of myBranches" ion-text color="danger" value="{{branch.id}}">{{branch.title}}</ion-option>
                </ion-select>
            </ion-list>
            <ion-item>
                <ion-label ion-text color="Grey">Expiry Date</ion-label>
                <ion-datetime formControlName="expiry_date" ion-text color="danger" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"
                min="2017" max="2030"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label ion-text color="Grey">Programs</ion-label>
                <ion-select formControlName="programs" (ionChange)="chooseProg($event)">
                    <ion-option *ngFor="let class of myClasses" ion-text color="danger" value="{{class.id}}">{{class.title}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!nutrition">
                <ion-label ion-text color="Grey">Packages</ion-label>
                <ion-select formControlName="packages">
                    <ion-option *ngFor="let pack of packageTypes" ion-text color="danger" value="{{pack.id}}">{{pack.title}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!nutrition">
                <ion-label ion-text color="Grey">No. of Sessions</ion-label>
                <ion-select formControlName="number_of_sessions">
                    <ion-option value="10">10</ion-option>
                    <ion-option value="20">20</ion-option>
                    <ion-option value="40">40</ion-option>
                    <ion-option value="80">80</ion-option>

                </ion-select>
                
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button block color="dark" [disabled]="!addPackForm.valid">Add</button>
        </div>
    </form>
</ion-content>
<ion-footer>

</ion-footer>