<!--
  Generated template for the AddpaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>New Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <!-- <ion-card>

      <ion-card-header>
        How it works
      </ion-card-header>

      <ion-card-content>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s
        </p>
      </ion-card-content>

    </ion-card> -->
    <form (ngSubmit)="addPayment(payment)">
      <ion-item>
        <ion-label stacked ion-text color="Grey">MONEY</ion-label>
        <ion-input ion-text color="danger" type="number" [(ngModel)]="payment.amount" name="amount" placeholder="EGP"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="Grey">TYPE</ion-label>
        <ion-select multiple [(ngModel)]="payment.title" name="title">
          <ion-option *ngFor="let pay of payments" ion-text color="danger" value="{{pay.title}}">{{pay.title}}</ion-option>
        </ion-select>
      </ion-item>
      <div padding>
        <button [disabled]="!payment.amount||!payment.title" type="submit" ion-button block color="dark">Add</button>
      </div>
    </form>
  </ion-list>
</ion-content>
<ion-footer>
</ion-footer>
