<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            Scan QR Code
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
<!-- <ion-footer>
    <p padding>{{myData.text}}</p>
</ion-footer> -->