<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-buttons start>
            <button item-end ion-button icon-only (click)="scanNew()">
                        <ion-icon name="barcode"></ion-icon>scan
                    </button>
        </ion-buttons>
        <ion-title>Athlete Details</ion-title>
        <ion-buttons end>
            <button item-end ion-button icon-only (click)="logOut()">
                        <ion-icon name="log-out"></ion-icon>Log-out
                    </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-icon name="contact" color="danger"></ion-icon>
            <strong>{{myData.name}}</strong>
        </ion-card-header>
        <ion-card-content>
            <p>
                <ion-icon color="danger" name="mail"></ion-icon> {{myData.email}}</p>
            <p>
                <ion-icon color="danger" name="body"></ion-icon> {{myData.weight}} KG</p>
            <p>
                <ion-icon color="danger" name="body"></ion-icon> {{myData.height}} CM</p>
            <p>
                <ion-icon color="danger" name="call"></ion-icon> {{myData.phone_number}}</p>
            <p>
                <ion-icon color="danger" name="home"></ion-icon> {{myData.address}}</p>
        </ion-card-content>
    </ion-card>
    <div padding *ngIf="!myData.packages[0]">
        <p ion-text color="Grey" text-center>This user doesn't have any packages yet!</p>
    </div>
    <div  class="card-background-page" *ngFor="let pack of myData.packages">
        <ion-card>
            <button class="del" color="danger" (click)="removePackage(pack)"><ion-icon name="trash"></ion-icon></button>
            <div class="overlay"></div>
            <img src="img/gym.jpg" />
            <div class="card-title" *ngIf="pack.classes[0].title">{{pack.classes[0].title}}</div>
            <div class="card-title-sec" *ngIf="pack.package_type">{{pack.package_type}}</div>
            
            <div class="card-subtitle">
                <span *ngIf="pack.remaining_sessions">
          <span ion-text color="danger">{{pack.remaining_sessions}} </span>sessions left</span>
                <br>
                <span *ngFor="let branch of pack.branches">{{branch}} Branch
          <br>
        </span>
                <span>Valid until
          <span ion-text color="danger">{{pack.valid_until}}</span>
                </span>
            </div>
        </ion-card>
        <br>
    </div>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col>
            <!-- <button ion-button block color="danger" (click)="modify()">Modify</button> -->
            <ion-fab bottom>
                <button block ion-fab color="danger"> Modify</button>
                <ion-fab-list class="first" side="top">
                    <button (click)="editInfo()" ion-fab>Personal Info
            <ion-icon class="mg_lf" name="ios-contact"></ion-icon>
          </button>
                    <button (click)="addPackage()" ion-fab>Add Package
            <ion-icon class="mg_lf" name="ios-create"></ion-icon>
          </button>
                </ion-fab-list>
            </ion-fab>
        </ion-col>
        <ion-col>
            <!-- <button ion-button block color="dark" (click)="admit()">Admit</button> -->
            <ion-fab bottom>
                <button block ion-fab color="dark"> Admit</button>
                <ion-fab-list class="second" side="top">
                    <div *ngFor="let pack of myData.packages">
                        <button *ngIf="!pack.classes[0]">No programs yet</button>
                        <button *ngFor="let class of pack.classes" ion-fab (click)="admit(pack.id,class.id,fab)"> {{class.title}}</button>
                    </div>
                </ion-fab-list>
            </ion-fab>
        </ion-col>
        <ion-col>
            <!-- <button ion-button block color="secondary" (click)="newPayment()">New Payment</button> -->
            <ion-fab bottom>
                <button (click)="addPayment()" block ion-fab color="secondary"> New Payment</button>
                <!-- <ion-fab-list side="top">
                    <button ion-fab><ion-icon name="logo-facebook">Fitness</ion-icon></button>
                    <button ion-fab><ion-icon name="logo-twitter"> Marathon</ion-icon></button>
                    <button ion-fab><ion-icon name="logo-twitter"> MMA</ion-icon></button>
                    <button ion-fab><ion-icon name="logo-twitter"> UFC</ion-icon></button>
                </ion-fab-list> -->
            </ion-fab>
        </ion-col>
    </ion-row>
</ion-footer>