    page-details {
        .del{
            background: color($colors,danger);
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            width: 40px;
            height: 40px;
            color: white;
            font-size: 20px;
            
        }
        .card-background-page {
            margin-top: -12px;
            ion-card {
                position: relative;
                text-align: center;
            }
            .card-title {
                position: absolute;
                top: 30%;
                font-size: 2.0em;
                width: 100%;
                font-weight: bold;
                color: #fff;
            }
            .card-title-sec{
                position: absolute;
                top: 43%;
                font-size: 1.5em;
                width: 100%;
                font-weight: lighter;
                color: #fff;
            }
            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 52%;
                width: 100%;
                color: #fff;
            }
            .overlay {
                background: black;
                opacity: .7;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
        ion-footer {
            ion-col {
                padding: 0px !important;
                margin: 0px !important;
                button {
                    border-radius: 0px !important;
                    padding: 0px !important;
                }
                ion-fab {
                    position: initial;
                    button {
                        width: 100% !important;
                    }
                }
                .second {
                    margin-left: 5px;
                    .fab {
                        padding: 10px !important;
                    }
                    .mg_lf {
                        margin-left: 5px;
                    }
                }
                .first {
                    margin-left: 5px;
                    .fab {
                        padding: 10px !important;
                    }
                    .mg_lf {
                        margin-left: 5px;
                    }
                }
            }
        }
    }